* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    color: white;
    background: rgb(18,13,52);
    background: linear-gradient(159deg, rgba(18,13,52,1) 0%, rgba(10,101,142,1) 100%, rgba(0,212,255,1) 100%);


}

.container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
}

progress {
    accent-color: rgb(167, 167, 219);
    width: 30vw;
    min-width: 400px;
    height: 28px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startButton, .localStorageButton {
    margin: 12px;
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    background-color:#63b8ee;
    border-radius:10px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#14396a;
    font-family:Arial;
    font-size:20px;
    padding:5px 25px;
    text-decoration:none;
}

.margin {
    margin: 20px;
}

.marginB {
    margin: 50px;
}