* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    color: white;
    background: rgb(18,13,52);
    background: linear-gradient(159deg, rgba(18,13,52,1) 0%, rgba(10,101,142,1) 100%, rgba(0,212,255,1) 100%);


}

.container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin {
    margin: 12px;
}

.marginB {
    margin: 50px;
}